**PRACTICE EXERCISES ON PYTHON BASIC 2**

In [2]:
#question 1

inp_str = "assembly"

out = {x : inp_str.count(x) for x in set(inp_str )}

print (" \n" + str(out))

{'e': 1, 's': 2, 'a': 1, 'm': 1, 'b': 1, 'y': 1, 'l': 1}

In [3]:
#question 2

def maximum(a,b,c):
  list=[a,b,c]
  return max(list)


a=34
b=12
c=7
print(maximum(a,b,c))

34

In [4]:
#question 3
def power(base,exp):
    if(exp==1):
        return(base)
    if(exp!=1):
        return(base*power(base,exp-1))
base=int(input("Enter base: "))
exp=int(input("Enter exponential value: "))
print("Result:",power(base,exp))

Enter base: 2
Enter exponential value: 3
Result: 8

In [5]:
#question 4
def sum_of_cubes(n):
    n -= 1
    total = 0

    while n > 0:

        total += n * n * n

        n -= 1
    return total

print("Sum of cubes smaller than the specified number: ", sum_of_cubes(4))

Sum of cubes smaller than the specified number:  36

In [6]:
#question 5

for i in range(1, 11):
  if i % 2 == 0 and i % 5 == 0:
    print("FizzBuzz")
  elif i % 2 == 0:
    print("Fizz")
  elif i % 5 == 0:
    print("Buzz")
  else:
    print(i)

1
Fizz
3
Fizz
Buzz
Fizz
7
Fizz
9
FizzBuzz

In [7]:
#question 6

def most_frequent(nums):
  return max(set(nums), key = nums.count)

nums = [2, 3, 4, 2, 5, 2]

most_frequent_item = most_frequent(nums)
print(most_frequent_item)

2

In [8]:
#question 7

def sum_of_squares(nums):
  return sum(x**2 for x in nums)

nums = [2, 1, 3, 1]

result = sum_of_squares(nums)

print(result)

15

In [9]:
#question 8

for i in range(1, 16):
  if i % 2 == 0:
    print(f"{i}-even")
  else:
    print(f"{i}-odd")

1-odd
2-even
3-odd
4-even
5-odd
6-even
7-odd
8-even
9-odd
10-even
11-odd
12-even
13-odd
14-even
15-odd

In [10]:
#question 9

def fahrenheit_to_celsius(f):
  return (f - 32) * 5 / 9

def celsius_to_fahrenheit(c):
  return c * 9 / 5 + 32

fahrenheit_temp = 41
celsius_temp = fahrenheit_to_celsius(fahrenheit_temp)
print(f"Temperature in Celsius = {int(celsius_temp)}")

Temperature in Celsius = 5

In [11]:
#question 10

def factorial(n):
  if n == 0:
    return 1
  else:
    return n * factorial(n-1)


num = 3


result = factorial(num)


print(result)

6